<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>course</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script  src="https://code.jquery.com/jquery-3.1.1.min.js"  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>


</head>
<body>
<div class="container" id="course">
{% if course %}
    {% if course.isFree == 1 %}
            {{ course.courseId }}
            {{ course.name }}
            {{ course.lecturesLinks|length }}
    {% else %}
        <ul>
            <li><label>Course Id</label><span>{{ course.courseId }}</span></li>
            <li><label>Course Name</label><span> {{ course.name }}</span></li>
        </ul>
        <h2>I'm sorry , but the required Course is not for Free access.</h2>
    {% endif %}
{% else %}
    <span>Sorry some error ocurred.</span>
{% endif %}

<div class="row" id="downlist">

        <ul class="collapsible" data-collapsible="accordion">

        </ul>
</div>

</div>
{% csrf_token %}
<script>
    var course = {{ course|safe }};
    var downloads = course['lectureDownloads'];
    var lecture_notes = course['lecture_notes'];
    var assignments = course['assignments'];
    var self_evaluation = course['self_evaluation'];
    console.log(downloads);
    console.log(lecture_notes);

    function downloadAll(files){
	    if(files.length == 0) return;
	    file = files.pop();
	    var theAnchor = $('<a />')
	        .attr('href', file[0])
	        .attr('download',file[1])
	        // Firefox does not fires click if the link is outside
	        // the DOM
	        .appendTo('body');

	    theAnchor[0].click();
	    theAnchor.remove();
	    downloadAll(files);
	}

    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});
    function addLinksToPage(){
            for(var i=0;i<course['modules'].length;i++){
                var s = '<li><div class="collapsible-header">'+ course['modules'][i]['name'] +'</div><div class="collapsible-body"><ol>';
                for(var j=0;j<course['modules'][i]['lectures'].length;j++){
                    lecture = course['modules'][i]['lectures'][j];
                    s = s + '<li><a id="mod'+i+'_lec'+j+'" >' + lecture['name'] + '</a></li>';
                    console.log('added');
                }
                s = s + '</ol></div></li>';
                $("#downlist ul").append(s);
            }
        }
    function getLinksToPage(){
        for(var i=0;i<course['modules'].length;i++){
            for(var j=0;j<course['modules'][i]['lectures'].length;j++){
                lecture = course['modules'][i]['lectures'][j];
                $.post('/downloader/getLecture/',
                        {
                            lectureLink: lecture['lecturelink'],
                            mod:i,
                            lec:j,

                        },
                        function(data,status){
                        var id='#mod'+data['mod']+'_lec'+data['lec'];
                        lecture['downlink'] = data['href'];
                        $(id).attr('href',lecture['downlink']);

                });
            }
        }

    }

    function downloadCourse(){
        document.getElementById('downloadBTN').style.display = 'block';
        var files = downloads;
        downloadAll(files);
    }

    $(document).ready(function (){

        addLinksToPage();
        getLinksToPage();

    });
</script>
</body>
</html>