<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nptelDownloader</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
</head>
<body>
<form name="download" action="downloader/details/" method="post">
    {% csrf_token %}
    <label>Course Code</label>
    <input type="text" name="courseId" required/>
    <input type="submit"  value="get course Details"/>
</form>
<iframe src="http://nptel.ac.in/course.php" height="400" width="100%"></iframe>
</body>
</html>